<?xml version='1.0' encoding='utf-8'?>
<widget id="com.toolbox.pro" version="2.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>جعبه ابزار حرفه‌ای</name>
    <description>۱۵ ابزار قدرتمند</description>
    <content src="index.html" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="StatusBarBackgroundColor" value="#0a0a1a" />
    <allow-intent href="*" />
    <access origin="*" />
</widget>
