<?xml version='1.0' encoding='utf-8'?>
<widget id="com.toolbox.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>جعبه ابزار حرفه‌ای</name>
    <description>۴ ابزار قدرتمند</description>
    <author>Your Name</author>
    <content src="index.html" />
    
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#1a1a2e" />
    
    <!-- مجوزها -->
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-file-opener2" />
    <plugin name="cordova-plugin-x-socialsharing" />
    <plugin name="cordova-plugin-media-scanner" />
    <plugin name="cordova-plugin-webintent" />
    
    <!-- دسترسی‌ها -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <platform name="android">
        <preference name="AndroidLaunchMode" value="singleTop" />
    </platform>
</widget>
